
.aramo{
    display: none;
}
.wrappere{
    position: fixed;
    padding-top: 0;
    top: 0;
    /*left: -100%;*/
    right: -100%;
    height: 50%;
    width: 100%;
    background: #333;
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    transition: all 0.6s ease-in-out;
    z-index: 99999999;
    font-family: American Captain;

  }
  #active:checked ~ .wrappere{
    /*left: 0;*/
    right:0;
  }


  .menu-btn{
    position: fixed;
    z-index: 99999999999999999;
    right: 20px;
    /*left: 20px; */
    top: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    /*color: #fff;*/
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 30%;
      width: 40%;
      border-bottom: 2px solid #000;
      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
      z-index: 99999999999999999;
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }
  
  
  .close {

      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: background .6s;
      
  }
  
  /* closing animation */
  #active:checked + .menu-btn span {
      transform: scaleX(0);
       z-index: 99999999999999999;
  }
  #active:checked + .menu-btn:before {
      transform: rotate(45deg);
    border-color: #fff;
    z-index: 99999999999999999;
  }
  #active:checked + .menu-btn:after {
      transform: rotate(-45deg);
    border-color: #fff;
    z-index: 99999999999999999;
  }
  .wrappere ul{
    position: absolute;
    top: 45%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align:right;
  }
  .wrappere ul li{
    height: 10%;
    margin: 15px 0;
  }
  .wrappere ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrappere ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrappere ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrappere ul li a:hover{
    color: #1a73e8;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  #esto{
 
    white-space: nowrap;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
    /* moverse las a */
  #active:checked ~ .wrappere ul li a{
    opacity: 1;
  }
  .wrappere ul li a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }
  #active:checked ~ .wrappere ul li a{
      transform: none;
      transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
     transition-delay: .6s;
    transform: translateX(-100px);
  }
  
@font-face {
    font-family: American Captain;
    src: url('americancaptain.woff2') format('woff2'),
             url('americancaptain.woff') format('woff');
}
@keyframes op{
    0% {
        left: -100%;
    }
    60%{
        left: 40px;
    }
    80% {
        left: 5px;
    }
    90%{
        left: 30px;
    }
    100% {
        left: 20px;
    }
}
@keyframes op1{
    0% {
        left: -100%;
    }
    40%{
        left: 50px;
    }
    60% {
        left: -5px;
    }
    80%{
        left: 30px;
    }
    100% {
        left: 4px;
    }
}
.atencion1{
    animation: op 0.5s forwards;
}
.atencion2{
    animation: op1 0.5s forwards;
}
.atencion3{
    animation: op 0.5s forwards;
}
#sticky-button {
    position: fixed;
    animation: op 0.5s forwards;
    left: 20px;
    bottom: 65vh;
    width: 35px !important;
    height: 35px !important;
    z-index: 99999;
  }
  #sticky-button a {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8pxpx;

    color: #fff;
    font-size: 16px;


    text-decoration: none;
  }
  #sticky-button a:hover {
    opacity: 0.7;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .marvel{
    width: 100%;
    height: 100%;
    padding-top: 25px;
  }
html{
    background-color: #e4f9ef;
    text-align: center;

    object-fit: contain;
    overflow-x: hidden;
}
@keyframes aparecer {
    0%{
        transform: scale(0.1);
        opacity: 0%;
    }
    10%{
        opacity: 100%;
    }
    100% {
        transform: scale(1);
    }
}
#logos{
    height: 6%;
    width: 6%;
}
#jj{

    z-index: 900000;
}


.barra{
    object-fit: contain;
    background-color: #e4f9ef;
    display: flex;
    text-align: center;
    position: fixed;
    flex-direction: row;
    z-index: 99999;
    top: 0;
    padding: 0 ;

    justify-content: center;
    width: calc(202vh);
}
.logo{
    width: 70px;
    height: 70px;
    margin-top: 5px;
    grid-column: 2;
    margin-right: 15%;
    max-width: 70px;
    max-height: 70px;
    
}
.barrita{
    grid-column:2 /6;
    border-bottom: 2px solid #333;
}

.opciones{



    
    margin-top: 25px;
    display: inline-flex;
    gap: 50px;
    list-style-type: none;
    float: right;    

                                
}
.opciones a{
    color: #333333;
    font-family: 'American Captain', sans-serif;
    font-size: 2em;
}
.opciones li a:hover{

    color:#e4f9ef;
}
.opciones li:hover{
    background-color: #333;
}
h3, h2, h1{
    font-family: 'American Captain', sans-serif;
    color: #333333

}
h6{
    font-family: 'Bahnschrift', sans-serif;
    color: #333333;
    font-size: 1em;
    text-align: justify;
    line-height: 115%;

}
i{
    font-size: 1.04em;
}
h1{
    font-size: 7.5em;
    letter-spacing: 0.024em;
    transform: skew(-15deg, 0deg);
    line-height: 85%;
    font-weight:600;
}
h2{
    font-size:5em;
    transform: skew(-15deg, 0deg);
    letter-spacing: 0.04em;
    line-height: 85%;
    font-weight:600;
}
h3{
    font-size: 3.1em;
    line-height: 85%;
    font-weight:550;
    letter-spacing: 0.016em;
}
h4{
    font-size: 2.1em;
    line-height: 85%;
    font-weight:550;
    letter-spacing: 0.016em;
    font-family: 'American Captain', sans-serif;
    color: #e4f9ef;
}
.descripcion1{
    padding-top: 6%;
    display: flex;
    justify-content: center;}
.descripcion{

    display: flex;
    justify-content: center;
    z-index:1;
    border-top: solid black 2px;
    height:fit-content;
    overflow:visible;
    margin: 0;
    width: 70%;


}
@keyframes opaci{
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes opacitocho{
    0% {
        opacity: 0%;
    }
    80%{
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}
.autoretrato{
    grid-column: 3;
    position:relative;
    width:45%;
    height: 45%;
    max-width: 425px;
    animation: opacitocho 2s forwards;
    animation: aparecer 2s forwards;
    margin-top: 1.5cm;

}

.letras{
    grid-column: 2;
    margin: 2%;
    padding: 2%;
    row-gap: 0;
    padding-top: 0;
    margin-top: 0.7cm;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    
    

}
#e{
    border: solid blue;
}
#hello{
    grid-column: 1/3;
    grid-row: 1;
    animation: opaci 3s forwards;
    width:auto;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    text-align: left;
    left: -20%;

}
#name{
    grid-column: 2;

    margin: 2%;
    padding: 2%;
    animation: opaci 3s forwards;
    position: relative;
    margin-left: 5%;

}
#bioinf{
    grid-column: 1/3;
    text-align: left;
    position: relative;
    animation: opaci 3s forwards;

    margin: 0;
    padding: 2%;
    padding-left: 0;
}
#jejej{
    animation: aparecer 2s forwards;
    animation: opacitocho 2.5s forwards;
}
#tocho{

    grid-column: 2;
    position: relative;
    margin: 2%;
    padding: 2%;
    animation: opacitocho 2.5s forwards;
    width: 9cm;
    padding-right: 0;
    margin-left: 6%;
    text-align: center;
}
#jejej{
    top:0;
    left:0;

    margin-left: 6%;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');




.wrapper {
    position: relative;
    text-transform: uppercase;
    color:#333;
    font-size: 2em;
   
    white-space: nowrap;
    transform: skew(-15deg, 0deg);

    grid-column: 1/3;
    left: 8%;

    top:75%;
  justify-content: center;
}

.cta {
    display: flex;
    padding: 3px 40px;
    text-decoration: none;
    font-family:  'American Captain', sans-serif;
    font-size: 40px;
    color: #ECFEF5;
    background: #6C6C6C;
    transition: 1s;
    box-shadow: 6px 6px 0 #333;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #B89C52;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
    
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: #ECFEF5;
    }
    50% {
        fill: #B89C52;
    }
    100% {
        fill: #ECFEF5;
    }
}
.skillset1{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 1cm;

}
.skillset{
    display:grid;
    grid-template-columns: 1fr 4fr 0.5fr 4fr 1fr;
    max-width: 1300px;

    grid-template-rows: 12% 69%;
}
#learnskill{
    position: relative;
    top: 0;

}
#cual{
    margin-top: 18%;
    font-size: 1.1em;
}
.imagenes{
    grid-row: 2;
    grid-column: 4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    row-gap: 20px;
    padding-left: 0%;
}
#logo1{

    width: 90%;
    
    background-image: url('./logo1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:2;
    transition: 2.5s;
    background-color: #e4f9ef;
}
#logo2{

    width: 90%;

    background-image: url('logo2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2.5s;
    background-color: #e4f9ef;
    border: #333 2px solid;
}
#logo3{

    width: 90%;
    background-image: url('logo3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e4f9ef;
    transition: 2.5s;
    
}
#logo4{

    width: 90%;
    transition: 2.5s;
    background-image: url('logo4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e4f9ef;

}
.texto{
    grid-row: 1/3;
    grid-column:2;
    position:relative;
    padding-bottom: 30%;
    display:flex;
    height: 80%;
    flex-wrap: wrap;
    align-content: flex-start;

    right: 130%;

}
.texto h6{
    position: relative;
    top:-10%;
    left: 20%;
    width: 59%;
    line-height: 120%;
    padding-bottom: 10%;

}
.texto h2{
    position:relative;
    left: 5%;

}



  .skill2{
    border: #333 2px solid;
    display: flex;
    border : solid black;
    z-index:999;
    

  }


  .descri2{
    background-color: #333;
   
    z-index:1;

    display:flex;


    text-align: center;
    overflow: hidden;
    transition: 2.5s;

    width: 10%;


  }
  #career::after > .descri2{

    width: 100%;

    animation: color3 2s forwards;

  }
  #career::after > #desc1{
    background-image: url('logo1opa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #career::after > #logo2 {
 
    height: 0;
    width: 0;


    
    opacity: 0;
  }

  .skill2:hover > .descri2{

    width: 100%;

    animation: color3 2s forwards;

  }
  .skill2:hover > #desc1{
    background-image: url('logo1opa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .skill2:hover > #desc2{
    background-image: url('logo2opa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .skill2:hover > #desc3{
    background-image: url('logo3opa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .skill2:hover > #desc4{
    background-image: url('logo4opa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .skill2:hover > #logo2 {
 
    height: 0;
    width: 0;


    
    opacity: 0;
  }
  .skill2:hover > #logo3 {
 
    height: 0;
    width: 0;


    
    opacity: 0;
  }
  .skill2:hover > #logo1 {
 
    height: 0;
    width: 0;


    
    opacity: 0;
  }
  .skill2:hover > #logo4 {
 
    height: 0;
    width: 0;


    
    opacity: 0;
  }
.skill2:hover{
    animation: colora 1s forwards;
}
@keyframes colora {
    0% {
        background-color: none;
    }

    
    100% {
        background-color: rgb(99, 99, 99);;

    }
}
@keyframes color3 {
    0% {
        background-color: #333;
    }

    
    100% {
        background-color: rgb(99, 99, 99);
        opacity: 0.9
    }
}
.azul{
    color:#e4f9ef;

}
.explicacion{


    overflow: hidden;
    text-align: center;
    display: none;
    animation-delay: 5s;
    animation: forwards;
    inline-size:5px;
    margin-right: 10%;
    margin-left: 10%;
    overflow-wrap: break-word;
    word-break: break-all;
}
.explicacion h4{
    text-align: center;
}
.explicacion h6{
    text-align: center;
}
@keyframes aparece {
    0% {
        opacity:0;

        width: 100%;
        height: 100%;

    }

    
    100% {

        opacity: 1;
        width: 100%;
        height: 100%;

    }
}
.skill2:hover .explicacion {
    white-space: nowrap;

    display:inline-block;
    width: 0%;
    height: 0%;
    opacity: 0;


    animation: aparece 5s 0.5s forwards;
    overflow:hidden;
  }
.flecha{
    position: absolute;
    z-index: 9999;
    height: 40%;
    width: 20%;

    text-align: start;
}
.skill2:hover .flecha{
    animation: apareces 0.5s forwards;
}
@keyframes apareces {
    0% {
        opacity:1;



    }

    
    100% {

        opacity: 0;


    }
}
.contenedorcar {
    
    top: -20%;
    color:#e4f9ef;
    font-size: 1.5em;
    display: flex;
    grid-template-columns: 1fr 14fr 1fr;
    height: 110%;
    padding: 0 5%;
    justify-content: center;
    max-zoom: 100%;
    scale: 0.3;

}
.career{
    max-width: 30cm;
    background-color: #333;
    position: relative;
    padding: 10px;
    border-radius: 25px;
    height: 105%;
    grid-column: 2;
    grid-template-rows: 1fr 9fr;
}
.titulillo{
    display: flex;
    grid-row: 1;

    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 33%;
    align-items: flex-start;
}
#getcv{
    background: none;
    order:2;
    z-index:9999;
    position: relative;
    top: 2%;
    left: -5%;
}
#titulocar{
    position: relative;
    margin: 0;
    padding: 0;
    margin-top:0;
    top: 2%;
    display: grid;
    align-items: flex-start;

    right: 0%;
    height: 20%;
    
}
#titulocar2{
    position: relative;
    margin: 0;
    padding: 0;
    margin-top:12%;
    top: -15%;
    grid-row: 1;
}

#getcv2{
    background: none;
    box-shadow: 0 6px 0 #B89C52;


}

.tochitos{
    padding-top: 2%;
    grid-row: 2;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
    color:#e4f9ef;
    font-size: 1.6em;
    line-height: 85%;
    font-weight:550;
    letter-spacing: 0.016em;
    font-family: 'American Captain', sans-serif;

}
.trabajo1{
    grid-column: 2;
    font-family: 'Bahnschrift', sans-serif;
    color: #e4f9ef;
    font-size: 0.4em;
    text-align: justify;
    line-height: 130%;
}
.trabajo2{
    grid-column: 2;
    font-family: 'Bahnschrift', sans-serif;
    color: #e4f9ef;
    font-size: 0.4em;
    text-align: justify;
    line-height: 130%;
}
.trabajo3{
    grid-column: 3; 
    font-family: 'Bahnschrift', sans-serif;
    color: #e4f9ef;
    font-size: 0.4em;
    text-align: justify;
    line-height: 130%;   
}
.trabajo4{
    grid-column: 4;
    font-family: 'Bahnschrift', sans-serif;
    color: #e4f9ef;
    font-size: 0.4em;
    text-align: justify;
    line-height: 130%;    
}


li{
    margin: -9px 0;
  }
#no{
    border-left-style: none;
}
.cip{

    font-size: 1.6em;
    line-height: 85%;
    font-weight:550;
    letter-spacing: 0.016em;
    font-family: 'American Captain', sans-serif;
    border-left: solid;
    border-color:#B89C52;

    
}
.recentproject{
    display: flex;
    grid-template-columns: 1fr 7fr 1fr;
    padding-top: 70px;
    justify-content: center;

}
.recentproject1{
    display: grid;
    grid-column: 2;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 8fr 1fr 8fr;


    
    
}
.retitle{
    display: flex;
    position: relative;
    grid-row:1;
    grid-column: 1;

    margin: 0;
    padding: 0;
    align-items: flex-start;
    
}
.project{
    padding: 0px;


}
#project1{
    grid-row: 2 /4;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 9fr;
}
#project2{
    grid-row:1 / 3;
    grid-column: 3;
    display: grid;
    grid-template-columns: 9fr 1fr;
}
#project3{
    grid-row:3 / 5;
    grid-column: 3;
    display: grid;
    grid-template-columns: 9fr 1fr;
}
.reboton{
    grid-row: 4;
    grid-column: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding:0;
    margin: 0;

    
}
#rere{
    grid-column: 1;
    position: relative;
    padding:0;
    margin: 0;
    grid-row: 2;
    top:-20%;
}
.letrita{
    margin: 0;
    padding: 0.4cm;
    top: -20%;

    padding-left: 2cm;
}
.details{

}
.projectito{
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
}
#projectito1{
    grid-column: 2;
    background-color: rgb(227, 235, 241);
    border-radius: 25px;
    margin-bottom: 4%;
    margin-top: 2%;
    background-image: url('JCM9978B.png');

    border: solid #333;
}
#projectito2{
    grid-column: 1;
    background-color: rgb(157, 186, 209);
    border-radius: 25px;
    margin-bottom: 4%;
    margin-top: 2%;
    border: solid #333;
    background-image: url('arbol.png');
    background-size: 400px 300px;

}
#projectito3{
    grid-column: 1;
    background-color: rgb(157, 186, 209);
    border-radius: 25px;
    margin-bottom: 4%;
    margin-top: 2%;
    border: solid #333;
    background-image: url('jejeje.png');
    background-size: 450px 300px;
    background-repeat: no-repeat;

}
.projectito::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .projectito:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);

  }
  
  .projectito:hover::after {
      opacity: 1;
  }
  .project .projectito:before {
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 50%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transition-property: top, opacity;
    transition-duration: 0.3s;
  }
  .project .projectito img {
    display: block;
    max-width: 100%;
    backface-visibility: hidden;
  }
  .project .projectito .details {
    font-size: 16px;
    padding: 20px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;

  }
  .project .projectito .details span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
    transition-property: top, opacity;
    transition-duration: 0.3s;
    transition-delay: 0s;
  }
  .project .projectito .details .title {
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
  }
  .project .projectito .details .info {
    line-height: 1.2;
    margin-top: 5px;
    font-size: 12px;
  }
  .project .projectito:focus:before,
  .project .projectito:focus span, 
  .project .projectito:hover:before,
  .project .projectito:hover span {
    opacity: 1;
  }
  .project .projectito:focus:before, 
  .project .projectito:hover:before {
    top: 50%;
  }
  .project .projectito:focus span, 
  .project .projectito:hover span {
    top: 0;
  }
  .project .projectito:focus .title, 
  .project .projectito:hover .title {
            transition-delay: 0.15s;
  }
  .project .projectito:focus .info, 
  .project .projectito:hover .info {
            transition-delay: 0.25s;
  }
  #texi{
    font-family: 'Bahnschrift', sans-serif;

    font-size: 1em;
    text-align:left;
    line-height: 130%;   

    width: fit-content;
  }
  #cipi{

    font-size: 1.9em;
    line-height: 85%;
    font-weight:550;
    letter-spacing: 0.016em;
    font-family: 'American Captain', sans-serif;
    border-left: solid;
    border-color:#B89C52;

    text-align:left;
}
#beta{
    position: absolute;

    margin-top: 0;
    padding-top: 0;
    bottom: -5%;
}
#reductor{
    display:flex;
    grid-template-columns: 1fr 6fr 1fr;
    padding-top: 70px;
    justify-content: center;
    position: relative;
    height: auto;

    
}
.pregunta{
    width: 70%;
    display: grid;
    grid-column: 2;
    grid-template-rows:  1fr 3fr;
    height: 50%;

    max-width: 900px;

}
*{
    
}
#resp{

    grid-row: 1;

    margin: 0;
    padding: 0;

    font-size:4.5em;

    padding-left: 2cm;
    text-align: start;

}
.sustancia{
    display:grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-row: 2/4;
    top: 20%;


}
.paloma{

    grid-row: 2 / 4;
    grid-column: 1;
    max-width: 600px;

}

.email{

    grid-row: 2;
    grid-column: 2 / 4;

}
.bb{
    grid-row: 3;
    grid-column: 2 / 4;


    display: grid;
    grid-template-columns: 3fr 3fr;
    padding:0;
    margin: 0;
    padding-left: 2cm;

}
.pal{
    width:100%;
    height: 90%;

}
.rio{
    padding-top: 0;
    padding-left: 2cm;
    padding-right: 3cm;
    font-size: 1.2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
.ass{
    position:relative;
    display: flex;
    justify-content: center;

}
.ultimo{
    width: 5%;
    height: 5%;
    max-width: 100px;
    margin-left: 500px;
}
@media (max-width: 1150px) {

    #skillset{
       
      }
    #learnskill{
        scale: 0.9;
        padding-left: 0;
        left: -6%;
        
    }
    .skillset1{
        display: flex;
        text-align: center;
        justify-content: center;
        padding-top: 1cm;
        
    }
    .skillset{
        display:grid;
        grid-template-columns: 0.3fr 4fr 20px 4fr 0.3fr;
        max-width: 1300px;
        width: 100%;
        grid-template-rows: 12% 69%;
        
    }

}

@media (max-width: 950px) {
    #reductor{
        display:flex;
        grid-template-columns:  6fr;
        padding-top: 70px;
        justify-content: space-evenly;
        position: relative;
        height: auto;
        
        
    }
    .pregunta{
        width: 100%;
        display: grid;
        
        grid-template-rows:  1fr 3fr;
        height: 50%;
    
        max-width: 900px;
    
    }
   
    #resp{
    
        grid-row: 1;
    
        margin: 0;
        padding: 0;
    
        font-size:4.5em;
    
        padding-left: 1cm;
        text-align:center;
    
    }
    .sustancia{
        display:grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-row: 2/4;
        top: 20%;
    
    
    }
    .paloma{
    
        grid-row: 2 / 4;
        grid-column: 1;
        max-width: 400px;
        padding-left: 1cm;
        scale:0.9;
        left: 40px;
    }
    
    .email{
      
        margin-left: 0;
        padding-left: 0;
        grid-row: 2;
        grid-column: 2 / 4;
    
    }
    .bb{
        grid-row: 3;
        grid-column: 2 / 4;
    
    
        display: grid;
        grid-template-columns: 3fr 3fr;
        padding:0;
        margin: 0;
        padding-left: 2cm;
    
    }
    .pal{
        width:100%;
        height: 90%;
    
    }
    .rio{
        padding-top: 0;
        padding-left: 1cm;
        padding-right: 2cm;
        font-size: 1.2em;
        padding-bottom: 0;
        margin-bottom: 0;
        
    }
    .ass{
        position:relative;
        display: flex;
        justify-content: center;
    
    }
    .ultimo{
        width: 5%;
        height: 5%;
        max-width: 100px;
        margin-left: 500px;}
    .opciones{
       display : none;
    }
    .logo{
        padding-left: 20px;
        
    }

      #learnskill{
        display: none;
        
    }
    .skillset1{
        display: flex;
        text-align: center;
        justify-content: center;
        padding-top: 1cm;
        
    }
    .azul{
        font-size: 0.8em;
    }
    .skillset{
        display:grid;
        grid-template-columns: 0.3fr 3.5fr 20px 4fr 0.3fr;
        max-width: 1300px;
        width: 100%;
        grid-template-rows: 12% 69%;
        
    }
    .barra{
        justify-content:left;
    }
    .wrappere{
        height: 70%;
    }
    #sticky-button{
        position: absolute;
    }
    .descripcion1{
        display:flex;


    }
    .logo{
        width: 50px;
        height: 50px;

        max-width: 50px;
        max-height: 50px;
        
    }
    .descripcion{
        padding-left: 0;
        padding-right: 0;
        /*grid-template-rows: 1fr 4fr 2.6fr 1fr 2fr 1fr;*/

        margin: 0;
        
    }
   }

   @media (max-width: 860px) {
    
    #rere{
        scale: 0.8;
    }
    .tochitos{
        display:grid;
        grid-template-rows: 4.5fr 2.5fr;
        grid-template-columns: 1fr 1fr;
    }
 
    .trabajo2{
        padding: 5px 20px;
        grid-row: 1;
        grid-column: 1;
    }
    .trabajo3{
        padding: 5px 20px;
        grid-row: 1;
        grid-column: 2;
    }
    .trabajo4{
        padding: 0px 20px;
        grid-row: 2;
        grid-column: 1 / 3;
    }
    .azul{
        font-size: 0.7em;
    }

    .menu-btn{

        right: 20px;
        /*left: 20px; */
        top: 0px;
        height: 50px;
        width: 50px;}
    .descripcion{
        padding-left: 0;
        padding-right: 0;
        

        margin: 0;
        display: grid;
        width: 85%;
   
       
    }
    #name{
        grid-column: 2;
        left: -15%;
        margin: 2%;
        padding: 2%;
        animation: opaci 3s forwards;
        position: relative;

    }
    .logo{
        width: 40px;
        height: 40px;

        max-width: 40px;
        max-height: 40px;
        
    }
    .autoretrato{
        grid-column: 3;
        position:relative;
        width:100%;
        height: 55%;
        max-width: 425px;

        margin-top: 1cm;
        left: -20%;

    }
    h1{
        font-size: 6em;
        letter-spacing: 0.024em;
        transform: skew(-15deg, 0deg);
        line-height: 85%;
        font-weight:600;
    }
   }
   @media (max-width: 770px) {
    #reductor{
        display:flex;
        grid-template-columns:  6fr;
        padding-top: 70px;
        justify-content: space-evenly;
        position: relative;
        height: auto;
      
        
    }
    .pregunta{
        width: 100%;
        display: grid;
        
        grid-template-rows:  1fr 3fr;
        height: 50%;
    
        max-width: 900px;
    
    }

    #resp{
    
        grid-row: 1;
    
        margin: 0;
        padding: 0;
    
        font-size:4.5em;
    
        padding-left: 1cm;
        text-align:center;
    
    }
    .sustancia{
        display:grid;
        grid-template-columns: 3fr 1fr 2fr;
        grid-row: 2/4;
        top: 20%;
    
    
    }
    .paloma{
    
        grid-row: 2 / 4;
        grid-column: 1;
        max-width: 400px;
        padding-left: 1cm;
        scale:0.76;
        left: 40px;
        height: 90%;
    }
    
    .email{

        margin-left: 0;
        padding-left: 0;
        grid-row: 2;
        grid-column: 2 / 4;
        display:flex;
        justify-content: center;
        max-width: 300px;
    }
    .rio{
        padding-top: 0;
        padding-left: 0cm;
        padding-right: 0cm;
        font-size: 1.2em;
        padding-bottom: 0;
        margin-bottom: 0;
      
        
        
    }
    .bb{
        grid-row: 3;
        grid-column: 2 / 4;
    
    
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding:0;
        margin: 0;
        padding-right: 2cm;
    
    }
    .pal{
        width:100%;
        height: 90%;
    
    }
    .ass{
        display: none;
    }
    #rere{
        scale: 0.8;
    }
    .recentproject1{
        display: grid;
        grid-column: 2;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 7fr 0fr 8fr;
        column-gap: 10px;
    
        
        
    }

    .letrita{
        margin: 0;
        padding: 0.4cm;
        top: -20%;
    
        padding-left: 1cm;
    }
    .project{
        padding: 0px;
    
    
    }
    #project1{
        grid-row: 2 /4;
        grid-column: 1;
        display: grid;
        grid-template-columns: 1fr 9fr;
        scale: 0.9
    }
    #project2{
        grid-row:1 / 3;
        grid-column: 3;
        display: grid;
        grid-template-columns: 9fr 1fr;
    }
    #project3{
        grid-row:3 / 5;
        grid-column: 3;
        display: grid;
        grid-template-columns: 9fr 1fr;
    }
    .reboton{
        grid-row: 4;
        grid-column: 1;
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding:0;
        margin: 0;
    
        
    }
    #rere{
        grid-column: 1;
        position: relative;
        padding:0;
        margin: 0;
        grid-row: 2;
        left: -20px;
    }
    #titulocar2{
        position: relative;
        margin: 0;
        padding: 0;
        margin-top:12%;
        top: -15%;
        grid-row: 1;
        left: -20%;
    }
    #getcv{
        background: none;
        order:2;
        z-index:9999;
        position: relative;
        top: 2%;
        left: 0%;
    }
    .skillset1{
        display: flex;
        text-align: center;
        justify-content: center;
        padding-top: 0cm;
        
    }

    
    .aramo{
        display:block;
        position: absolute;
        left: 23%;
        padding-top: 20px;
    }
    
    .skillset{
        display:grid;
        grid-template-columns: 0.3fr 0fr 20px 4fr 0.3fr;
        max-width: 1300px;
        width: 100%;
        grid-template-rows: 7% 70%;

height: 70%;
        
        overflow: hidden;
    }
    .azul{
        font-size: 0.9em;
        scale: 1 1.3;
    }
    #skillset{

        height: 70%;
        max-height: 700px;
      }

    .aram{
        margin-top: 0;
        padding-top: 0; 
    }
    .texto{
        overflow: hidden;

        height: 1%;
        position: relative;
        margin-top: 0;
        padding-top: 0;
    }

    .menu-btn{

        right: 20px;
        /*left: 20px; */
        top: 0px;
        height: 50px;
        width: 50px;}
    .autoretrato{
        

        position:relative;
        width:110%;
        height: 50%;
        

        margin-top: 0.4cm;
        left: -30%;

    }
    .logo{
        width: 35px;
        height: 35px;

        max-width: 35px;
        max-height: 35px;
        
    }

    .imagenes{
        scale: 0.75 0.6;
 
        top: -20%;

    }
   }
   @media (max-width: 680px) {
    #reductor{
        display:flex;
        grid-template-columns:  6fr;
        padding-top: 70px;
        justify-content: space-evenly;
        position: relative;
        height: auto;
     
        
    }
    .pregunta{
        width: 100%;
        display: grid;
        
        grid-template-rows:  1fr 3fr;
        height: 50%;
    
        max-width: 900px;
    
    }
 
    #resp{
    
        grid-row: 1;
    
        margin: 0;
        padding: 0;
    
        font-size:4.5em;
    
        padding-left: 1cm;
        text-align:center;
    
    }
    .sustancia{
        display:grid;
        grid-template-columns: 3fr 1fr 2fr;
        grid-row: 2/4;
        top: 20%;
    
    
    }
    .paloma{
    
        grid-row: 2 / 4;
        grid-column: 1;
        max-width: 400px;
        padding-left: 0cm;
        scale:0.9;
        left: 0;
        height: 80%;
        padding-top: 1cm;
    }
    
    .email{
      
        margin-left: 0;
        padding-left: 0;
        grid-row: 2;
        grid-column: 2 / 4;
        display:flex;
        justify-content: center;
        max-width: 300px;
    }
    .rio{
        padding-top: 0;
        padding-left: 0cm;
        padding-right: 0cm;
        font-size: 1.2em;
        padding-bottom: 0;
        margin-bottom: 0;
       
        
        
    }
    .bb{
        grid-row: 3;
        grid-column: 2 / 4;
    
    
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding:0;
        margin: 0;
        padding-right: 2cm;
    
    }
    .pal{
        width:100%;
        height: 90%;
    
    }
    .recentproject{
        height: 80%;
    }

    #rere{
        scale: 0.7;
    }
    .recentproject1{
        display: grid;
        grid-column: 2;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-columns: 50% 50%;
        column-gap: 10px;
    
        width: 120%;
        
    }
    .retitle{
        display: flex;
        position: relative;
        grid-row:1;
        grid-column: 1;

        width: 70%;
        margin: 0;
        padding: 0;
        align-items: flex-start;
        scale: 0.8;
    }
    .letrita{
        margin: 0;
        padding: 0.4cm;
        top: -20%;
        padding-right: 0;
        padding-left: 1cm;
       
    }
    .project{
        padding: 0px;

    
    }
    #project1{
        grid-row: 2 /4;
        grid-column: 1;
        display: grid;
        grid-template-columns: 0fr 9fr;
        scale: 0.9;
        height: 80%;
    }
    #project2{
        grid-row:1 / 3;
        grid-column: 2;
        display: grid;
        grid-template-columns: 9fr ;
        scale: 0.9;
        height: 80%;
    }
    #project3{
        grid-row:2 / 4;
        grid-column: 2;
        display: grid;
        scale: 0.9;
        grid-template-columns: 9fr ;
        height: 80%;
        top:50px;
        padding-top: 70px;
        align-items: initial;
        
    }
    #texi{
        font-family: 'Bahnschrift', sans-serif;
    
        font-size: 0.7em;
        text-align:left;
        line-height: 130%;   
    
        width: fit-content;
      }
      #cipi{
    
        font-size: 1.6em;
        line-height: 85%;
        font-weight:550;
        letter-spacing: 0.016em;
        font-family: 'American Captain', sans-serif;
        border-left: solid;
        border-color:#B89C52;
    
        text-align:left;
    }
    .reboton{
        grid-row: 3;
        grid-column: 1;
        scale: 0.8;
        padding:0;
        margin: 0;

        width: 80%;
        padding-top: 110px;
        
    }
    #rere{
        grid-column: 1;
        position: relative;
        padding:0;
        margin: 0;
        grid-row: 2;
        left: -20px;
    }
    .tochitos{
        display:grid;
        grid-template-rows: 4.5fr 4.5fr 4.5fr;
        grid-template-columns: 1fr ;
    }
    #titulocar2{
        position: relative;
        margin: 0;
        padding: 0;
        margin-top:12%;
        top: -15%;
        grid-row: 1;
        left: -20%;
    }
    #getcv{
        background: none;
        order:2;
        z-index:9999;
        position: relative;
        top: 2%;
        margin-left: 63px;
    }
    .career{
        max-width: 30cm;

        position: relative;
        padding: 10px;
        border-radius: 25px;
        height: 105%;
        grid-column: 2;
        grid-template-rows: 1fr 4.5fr;
        
        
    }
    .trabajo2{
        grid-row: 1;
        grid-column: 1 / 3;
    }
    .trabajo3{
        grid-row: 2;
        grid-column: 1 / 3;
    }
    .trabajo4{
        grid-row: 3;
        grid-column: 1 / 3;
    }
    .wrappere ul{
        position: absolute;
        top: 35%;
        left: 50%;
        height: 90%;
        font-size: 10px;
      }
      .aramo{
        padding-top: 2px;
        display:block;
        position: absolute;
        left: 23%;
      

    }
    .descripcion{
        padding-left: 0;
        padding-right: 0;
        

        margin-top: 2%;
        display: grid;
        width: 85%;}
    h1{
            font-size: 4.7em;
            letter-spacing: 0.024em;
            transform: skew(-15deg, 0deg);
            line-height: 85%;
            font-weight:600;
   }
   h3{
    font-size: 2.6em;
    line-height: 85%;
    font-weight:550;
    letter-spacing: 0.016em;
}
#sticky-button{
    scale:0.7;
    left: -200px;
    padding-left: 0;
    margin-left: 0;
    animation: op1 0.5s forwards;
}
#name{
    grid-column: 2;
    left: -20%;
    margin: 2%;
    padding: 2%;
    animation: opaci 3s forwards;
    position: relative;

    
}
.autoretrato{
    grid-column: 3;
    position:relative;
    width:155%;
    height: 45%;
    max-width: 455px;
    top: -5%;
    margin-top: 1.5cm;
    left: -65%;

}

   }
   @media (max-width: 540px) {
    #reductor{
        display:flex;
        grid-template-columns:  6fr;
        padding-top: 00px;
        justify-content: space-evenly;
        position: relative;
        height: auto;

        
    }
    .pregunta{
        width: 100%;
        display: grid;
        scale: 0.8;
        grid-template-rows:  1fr 3fr;
        height: 50%;
        padding-right: 90px;
        max-width: 900px;
    
    }
 
    #resp{
    
        grid-row: 1;
    
        margin: 0;
        padding: 0;
    
        font-size:4.5em;
    
        padding-left: 1cm;
        text-align:justify;
    
    }
    .sustancia{
        display:grid;
        grid-template-columns: 3fr 1fr 2fr;
        grid-row: 2/4;
        top: 20%;
    
    
    }
    .paloma{
    
        grid-row: 2 / 4;
        grid-column: 1;
        max-width: 400px;
        padding-left: 0cm;
        scale:0.9;
        left: 0;
        height: 80%;
        padding-top: 1cm;
    }
    
    .email{

        margin-left: 0;
        padding-left: 0;
        grid-row: 2;
        grid-column: 2 / 4;
        display:flex;
        justify-content: center;
        max-width: 300px;
    }
    .rio{
        padding-top: 0;
        padding-left: 0cm;
        padding-right: 0cm;
        font-size: 1.2em;
        padding-bottom: 0;
        margin-bottom: 0;
 
        
        
    }
    .bb{
        grid-row: 3;
        grid-column: 2 / 4;
    
    
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding:0;
        margin: 0;
        padding-right: 2cm;
    
    }
    .pal{
        width:100%;
        height: 90%;
    
    }
    .recentproject{
        height: 80%;
    }

    #rere{
        scale: 0.7;
    }
    .recentproject1{
        display: grid;
        grid-column: 2;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-columns: 50% 50%;
        column-gap: 10px;
    
        width: 120%;
        
    }
    .retitle{
        display: flex;
        position: relative;
        grid-row:1;
        grid-column: 1;

        width: 70%;
        margin: 0;
        padding: 0;
        align-items: flex-start;
        scale: 0.7;
    }
    .letrita{
        margin: 0;
        padding: 0.4cm;
        top: -20%;
        padding-right: 0;
        padding-left: 1cm;
       
    }
    .project{
        padding: 0px;

    
    }
    #project1{
        grid-row: 2 /4;
        grid-column: 1;
        display: grid;
        grid-template-columns: 0fr 9fr;
        scale: 0.9;
        height: 80%;
    }
    #project2{
        grid-row:1 / 3;
        grid-column: 2;
        display: grid;
        grid-template-columns: 9fr ;
        scale: 0.9;
        height: 80%;
    }
    #project3{
        grid-row:2 / 4;
        grid-column: 2;
        display: grid;
        scale: 0.9;
        grid-template-columns: 9fr ;
        height: 80%;
      
        padding-top: 80px;
        
        
    }
    #texi{
        font-family: 'Bahnschrift', sans-serif;
    
        font-size: 0.7em;
        text-align:left;
        line-height: 130%;   
    
        width: fit-content;
      }
      #cipi{
    
        font-size: 1.6em;
        line-height: 85%;
        font-weight:550;
        letter-spacing: 0.016em;
        font-family: 'American Captain', sans-serif;
        border-left: solid;
        border-color:#B89C52;
    
        text-align:left;
    }
    .reboton{
        grid-row: 3;
        grid-column: 1;
        scale: 0.6;
        padding:0;
        margin: 0;

        width: 80%;
        padding-top: 110px;
        
    }
    #rere{
        grid-column: 1;
        position: relative;
        padding:0;
        margin: 0;
        grid-row: 2;
        left: -20px;
    }
    .barra{

        width: 120%;
        left:-3%;
    }
    #getcv{
        background: none;
        order:2;
        z-index:9999;
        position: relative;
        top: 2%;
        margin-left: 33px;
    }
    .descripcion1{
        margin-top: 0;
        top: -50%;
        padding-top: 0;
    }
    .aramo{
        padding-top: 45px;
        display:block;
        position: absolute;
        left: 23%;
  

    }
    .azul{
        font-size: 0.75em;
        scale: 1 1.3;
    }
    .skill2{
        height: 300px;
    }
    #skillset{

        position: relative;
    }
    .contenedorcar{
        margin-top: 220px;
    }
    .imagenes{
        grid-row: 2;
        grid-column: 4;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 5px;
        row-gap: 20px;
        padding-left: 0%;
        top: -20%;
    }
    .skillset{
        display:grid;
        grid-template-columns: 0fr 0fr 20px 6fr 0fr;
        max-width: 1300px;
        width: 100%;
        grid-template-rows: 7% 70%;

height: 70%;
        
        overflow: hidden;
    }
    .descripcion{
        left: 200%;
        padding-right: 0;
        padding-left: 65%;

        margin-top: 0;
        top: -50%;
        padding-top: 0;
        display: flex;
        width: 85%;
        justify-content: center;}
        #hello{
            padding-top: 0;
            margin-top: 0;
        }
        .wrappere ul{
            position: absolute;
            top: 25%;
            left: 50%;
            height: 90%;
            font-size: 1em;
            line-height: 100%;
          }
          .wrappere ul li{
            line-height: 10px;
          }
          .wrappere ul li a{
            line-height: 30px;
            font-size: 25px;
          }
    .peque{
        font-size: 10em;
    }
    h1{
            font-size: 4.7em;
            letter-spacing: 0.024em;
            transform: skew(-15deg, 0deg);
            line-height: 85%;
            font-weight:600;
   }
   .logo{
    width: 30px;
    height: 30px;

    max-width: 30px;
    max-height: 30px;
    
}
   h3{
    font-size: 2.6em;
    line-height: 85%;
    font-weight:550;
    letter-spacing: 0.016em;
}
#sticky-button{
    scale:0.7;
    left: -200px;
    padding-left: 0;
    margin-left: 0;
    animation: op1 0.5s forwards;
}
#name{
    grid-column: 2;
    left: -20%;
    margin: 2%;
    padding: 2%;
    animation: opaci 3s forwards;
    position: relative;

    padding-top: 50%;
}
.autoretrato{
    grid-column: 3;
    position:relative;
    width:45%;
    height: 45%;
    max-width: 455px;
    top: 10%;
    margin-top: 1.8cm;
    left: -86%;

}
#tocho, #jejej{
    left: -25%;
}
.menu-btn{

    right: 20px;
    /*left: 20px; */
    top: -5px;
    height: 50px;
    width: 50px;}
   }
   @media (max-width: 440px) {
    #reductor{
        display:flex;
        grid-template-columns:  6fr;
        padding-top: 00px;
        justify-content: space-evenly;
        position: relative;
        height: auto;

        height: 80%;
    }
    .pregunta{
        width: 100%;
        display: grid;
        scale: 0.65;
        grid-template-rows:  0.3fr 2fr;
        height: 50%;
        padding-right: 180px;
        max-width: 900px;
    
    }
 
    #resp{
    
        grid-row: 1;
    
        margin: 0;
        padding: 0;
    
        font-size:4.5em;
    
        padding-left: 1cm;
        text-align:justify;
    
    }
    .sustancia{
        display:grid;
        grid-template-columns: 3fr 1fr 2fr;
        grid-row: 2/4;
        top: 20%;
    
    
    }
    .paloma{
    
        grid-row: 2 / 4;
        grid-column: 1;
        max-width: 400px;
        padding-left: 0cm;
        scale:0.8;
        left: 0;
        height: 80%;
        padding-top: 1cm;
    }
    
    .email{

        margin-left: 0;
        padding-left: 0;
        grid-row: 2;
        grid-column: 2 / 4;
        display:flex;
        justify-content: center;
        max-width: 300px;
    }
    .rio{
        padding-top: 0;
        padding-left: 0cm;
        padding-right: 0cm;
        font-size: 1.2em;
        padding-bottom: 0;
        margin-bottom: 0;

        
        
    }
    .bb{
        grid-row: 3;
        grid-column: 2 / 4;
    
    
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding:0;
        margin: 0;
        padding-right: 2cm;
        padding-top: 1cm;
    
    }
    .pal{
        width:100%;
        height: 90%;
    
    }
    .recentproject{
        height: 80%;
    }

    #rere{
        scale: 0.7;
    }
    .recentproject1{
        display: grid;
        grid-column: 2;
        grid-template-rows: 0.6fr 1.4fr 1.4fr 1.4fr 0.2fr;
        grid-template-columns: 1fr;
        column-gap: 10px;
        row-gap: 0;
        width: 120%;
        
    }
    .retitle{
        display: flex;
        position: relative;
        grid-row:1;
        grid-column: 1;

        width: 70%;
        margin: 0;
        padding: 0;
        align-items: flex-start;
        scale: 0.7;
    }
    .letrita{
        margin: 0;
        padding: 0.4cm;
        top: -20%;
        padding-right: 0;
        padding-left: 1cm;
       
    }
    .project{
        padding: 0px;
        padding-bottom: 10px;
    
    }
    #project1{
        grid-row: 2;
        grid-column: 1;
        display: grid;
        grid-template-columns: 0fr 9fr;
        scale: 0.9;
        height: 80%;
    }
    #project2{
        grid-row:3;
        grid-column: 1;
        display: grid;
        grid-template-columns: 9fr ;
        scale: 0.9;
        height: 80%;
    }
    #project3{
        grid-row:4;
        grid-column: 1;
        display: grid;
        grid-template-columns: 9fr ;
        scale: 0.9;
        height: 80%;
        padding-top: 0px;
    }
    #texi{
        font-family: 'Bahnschrift', sans-serif;
    
        font-size: 0.7em;
        text-align:left;
        line-height: 130%;   
    
        width: fit-content;
      }
      #cipi{
    
        font-size: 1.6em;
        line-height: 85%;
        font-weight:550;
        letter-spacing: 0.016em;
        font-family: 'American Captain', sans-serif;
        border-left: solid;
        border-color:#B89C52;
    
        text-align:left;
    }
    .reboton{
        grid-row: 5;
        grid-column: 1;
        scale: 1.1;
        padding:0;
        margin: 0;

        width: 80%;
        padding-top: 0px;
        
    }
    #rere{
        grid-column: 1;
        position: relative;
        padding:0;
        margin: 0;
        grid-row: 2;
        left: -20px;
    }
    .aramo{
        padding-top: 70px;
        left: 13%;
    }
    #hello{
        margin-left: 10%;
    }
    .descripcion{
        left: 200%;
        padding-right: 0;
        padding-left: 65%;

        margin-top: 2%;
        display: flex;
        width: 85%;
        justify-content: center;}
        .wrappere ul{
            position: absolute;
            top: 25%;
            left: 50%;
            height: 90%;
            font-size: 1em;
            line-height: 100%;
          }
          .wrappere ul li{
            line-height: 10px;
          }
          .wrappere ul li a{
            line-height: 0px;
            font-size: 20px;
          }
          .wrappere{
            height: 85%;
          }
    .peque{
        font-size: 10em;
    }
    h1{
            font-size: 4.7em;
            letter-spacing: 0.024em;
            transform: skew(-15deg, 0deg);
            line-height: 85%;
            font-weight:600;
   }
   .logo{
    width: 30px;
    height: 30px;

    max-width: 30px;
    max-height: 30px;
    
}
   h3{
    font-size: 2.6em;
    line-height: 85%;
    font-weight:550;
    letter-spacing: 0.016em;
}
#sticky-button{
    scale:0.7;
    left: -200px;
    padding-left: 0;
    margin-left: 0;
    animation: op1 0.5s forwards;
}
#name{
    grid-column: 2;
    left: -10%;
    margin: 2%;
    padding: 2%;
    animation: opaci 3s forwards;
    position: relative;

    padding-top: 48%;
}
.autoretrato{
    grid-column: 3;
    position:relative;
    width:55%;
    height: 55%;
    max-width: 455px;
    top: 105%;
    margin-top: 1.75cm;
    left: -106%;

}
#tocho, #jejej{
    left: -15%;
    scale: 0.8;
}
.menu-btn{

    right: 20px;
    /*left: 20px; */
    top: -5px;
    height: 50px;
    width: 50px;}
   }
   @media (max-width: 340px) {
    
    #reductor{
        top:-60%;
        display:flex;
        grid-template-columns:  6fr;
        padding-top: 00px;
        justify-content: space-evenly;
        position: relative;
        height: auto;
        padding-right: 50px;
        height: 80%;
    }
    .pregunta{
        width: 100%;
        display: grid;
        scale: 0.5;
        grid-template-rows:  0.2fr 1.8fr;
        height: 50%;
        padding-right: 180px;
        max-width: 900px;
    
    }
    .aramo{
        padding-top: 0px;
        left: 9%;
        padding: 0;
    }
    .retit{
     
    }
    #resp{
    
        grid-row: 1;
    
        margin: 0;
        padding: 0;
    
        font-size:4.5em;
    
        padding-left: 1cm;
        text-align:justify;
    
    }
    .sustancia{
        display:grid;
        grid-template-columns: 3fr 1fr 2fr;
        grid-row: 2/4;
        top: 20%;
    
    
    }
    .paloma{
    
        grid-row: 2 / 4;
        grid-column: 1;
        max-width: 400px;
        padding-left: 0cm;
        scale:0.8;
        left: 0;
        height: 80%;
        padding-top: 1cm;
    }
    
    .email{
        
        margin-left: 0;
        padding-left: 0;
        grid-row: 2;
        grid-column: 2 / 4;
        display:flex;
        justify-content: center;
        max-width: 300px;
    }
    .rio{
        padding-top: 0;
        padding-left: 0cm;
        padding-right: 0cm;
        font-size: 1.2em;
        padding-bottom: 0;
        margin-bottom: 0;
      
        
        
    }
    .bb{
        grid-row: 3;
        grid-column: 2 / 4;
    
    
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding:0;
        margin: 0;
        padding-right: 2cm;
        padding-top: 1cm;
    
    }
    .pal{
        width:100%;
        height: 90%;
    
    }
    #hello{
        margin-left: 25%;
    }
    .descripcion{
        left: 200%;
        padding-right: 0;
        padding-left: 65%;

        margin-top: 2%;
        display: flex;
        width: 85%;
        justify-content: center;}
        .wrappere ul{
            position: absolute;
            top: 25%;
            left: 50%;
            height: 90%;
            font-size: 1em;
            line-height: 100%;
          }
          .wrappere ul li{
            line-height: 10px;
          }
          .wrappere ul li a{
            line-height: 0px;
            font-size: 20px;
          }
          .wrappere{
            height: 85%;
          }
    .peque{
        font-size: 10em;
    }
    h1{
            font-size: 4.7em;
            letter-spacing: 0.024em;
            transform: skew(-15deg, 0deg);
            line-height: 85%;
            font-weight:600;
   }
   .logo{
    width: 30px;
    height: 30px;

    max-width: 30px;
    max-height: 30px;
    
}
   h3{
    font-size: 2.2em;
    line-height: 85%;
    font-weight:550;
    letter-spacing: 0.016em;
}
#sticky-button{
    scale:0.7;
    left: -200px;
    padding-left: 0;
    margin-left: 0;
    animation: op1 0.5s forwards;
}
#name{
    grid-column: 2;
    left: -02%;
    margin: 2%;
    padding: 2%;
    animation: opaci 3s forwards;
    position: relative;

    padding-top: 46%;
}
.autoretrato{
    grid-column: 3;
    position:relative;
    width:65%;
    height: 65%;
    max-width: 455px;
    top: 105%;
    margin-top: 1.75cm;
    left: -116%;

}
#tocho, #jejej{
    left: -12%;
    scale: 0.67;
}
#jejej{
    left:-6%;
}
#bioinf{
    left: 15%;
}

.menu-btn{

    right: 20px;
    /*left: 20px; */
    top: -5px;
    height: 50px;
    width: 50px;}
    .career{
        scale: 0.8;
    }
    
    .contenedorcar {
        margin-top: 100px;
        top: 0%;}
   }
